body {
  background-color: rgb(218, 242, 250);
}

#btnShowWeather {
  color: rgb(41, 53, 53);
  margin: 0 auto;
  margin-bottom: 50px;
  display: block;
  height: 40px;
  text-align: center;
  background-color: rgb(126, 181, 233);
}

#olList {
  color: rgb(66, 118, 196);
  text-align: center;
  list-style-type: none;
}

img{
  margin: 0 auto;
  display: block;
}